/*
/*/
!/src/
!.gitignore
!gradlew*
!/gradle/
!/LICENSE.md
!/README.md
!build.gradle
!TODO.docx
!/run/mods/1.10.2/magiology/
!spooky.scary.skeletons
!.editorconfig
!safe_setup_eclipse.bat
!safe_setup_idea.bat
!setup_eclipse.bat
!setup_idea.bat
!runClient.bat